<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>GGGPUProject.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>A174F10E1E13A5790066C328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A174F1271E13A5790066C328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>A174F1321E13A5790066C328</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
